# =======================================================
# IDE / Editor / System Files
# 프로젝트 어디에 있든 무시해야 할 파일들
# =======================================================
.idea/
.vs/
*.suo
*.user
*.userprefs
*.DS_Store
*.sln.DotSettings.user


# =======================================================
# Build Artifacts
# 컴파일 결과물 (소스 코드로 언제든 재생성 가능)
# =======================================================
[Bb]in/
[Oo]bj/
